body{
	background-color: whitesmoke;
}

.main{
	display: flex;
	justify-content: center;
}

.enter-frame {
    padding: 32px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: auto;
    height: auto;
    border-radius: 15px 10px;
    background-color: white;
}

.field{
	padding: 1rem;
	display: flex;
	justify-content: center;
	display: block;
	text-align: center;

}



.progress-container{
	display: flex;
	justify-content: center;
}
progress{
	width: 400px;
	min-height: 30px;
}
.footer-for-main{
	display: flex;
	justify-content: center;
}

