* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #635252;
  }
  
  header {
    background-color: #333;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .container {
    width: 400px;
    margin: 50px auto;
    background-color: #dde079;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background: linear-gradient(to right, #ff6363, #ff9f3f);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background: linear-gradient(to right, #ff9f3f, #ff6363);
  }
  
  a.forgot-password {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }